## Map, Lambda expressions

In [1]:
def times2(var):
    return var*2

In [3]:
times2(2)

4

In [4]:
# Map

In [5]:
seq = [1,2,3,4]

In [8]:
list(map(times2, seq))

[2, 4, 6, 8]

In [14]:
# Lambda

In [15]:
list(map(lambda num:num*3, seq))

[3, 6, 9, 12]

In [16]:
# Filter

In [18]:
list(filter(lambda num: num %2 == 0, seq))

[2, 4]

## Methods

In [22]:
s = "Hello my name is Christian"

In [23]:
s.lower()

'hello my name is christian'

In [24]:
s.upper()

'HELLO MY NAME IS CHRISTIAN'

In [25]:
s.split()

['Hello', 'my', 'name', 'is', 'Christian']

In [26]:
tweet = "Go sports! #Sports"

In [29]:
tweet.split('#')[1]

'Sports'

In [30]:
d ={'k1':1, 'k2':2}

In [31]:
d.keys()

dict_keys(['k1', 'k2'])

In [32]:
d.items()

dict_items([('k1', 1), ('k2', 2)])

In [33]:
d.values()

dict_values([1, 2])

In [34]:
l = [1,2,3]

In [35]:
l.pop()

3

In [36]:
l

[1, 2]

In [37]:
l.pop(0)

1

In [38]:
l

[2]

In [39]:
l.append(4)

In [40]:
l

[2, 4]

In [41]:
'x' in [1,2,3]

False

In [42]:
'x' in ['x', 'y']

True

## Tuple unpacking

In [43]:
x = [(1,2), (3,4), (5,6)]

In [44]:
for i in x:
    print(i)

(1, 2)
(3, 4)
(5, 6)

In [45]:
for (a, b) in x:
    print(a)

1
3
5

In [46]:
for (a, b) in x:
    print(b)

2
4
6